<main role="main" class="container">
    <h2>Daftar User</h2>
    <a href="/AddUser" class="btn btn-primary">Tambah User</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nama</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Kontak</th>
                <th scope="col">Role</th>
                <th scope="col">Tindakan</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.nama %>
                    </td>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        <%= user.password %>
                    </td>
                    <td>
                        <%= user.kontak %>
                    </td>
                    <td>
                        <%= user.role %>
                    </td>
                    <td>
                        <a href="" class="btn btn-sm btn-warning"><i class="fa fa-pen"></i> Edit</a>
                        <a href="" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Hapus</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</main>